<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" [currentPage]="page" (onCloseSidenav)="onClose($event, sidenav)"></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div>
        <button mat-icon-button (click)="onToggleSidenav(sidenav)">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div>JELENTÉS APP</div>
    </mat-toolbar>

    <router-outlet />

  </mat-sidenav-content>

</mat-sidenav-container>